.Container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4%;
  align-items: center;
}
input{
  padding: 4%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

select{
  padding: 3%;
}

.slect{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}